# Uploads
public/uploads/**/*
!public/uploads/.gitkeep

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# VSC
.history

# SSL Certificates (jangan commit ke git)
ssl/cloudflare-origin.pem
ssl/cloudflare-origin.key
ssl/*.pem
ssl/*.key
